$tablet-width: 768px;

// https://davidwalsh.name/write-media-queries-sass
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #FBFFFE;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    display: block;
  }

  &> div {
    grid-column: 2;
  }

  .teal-box {
    grid-column: 1;
    grid-row: 1 / span 10;
  }
}

.coral-box {
  @include mobile {
    position: sticky;
    bottom: 0;
    width: 100%;
  }
}

.box {
  border: 0.2rem solid #172121;
  margin: 0.2rem;

  &.box--small {
    height: 50px;
    background-color: #FE654F;
  }

  &.box--small-alt {
    height: 50px;
    background-color: #6B0F1A;
  }

  &.box--medium {
    height: 250px;
    background-color: #58641D;
  }

  &.box--medium-alt {
    height: 250px;
    background-color: #4EA699;
  }

  &.box--large {
    height: 400px;
    background-color: #B9FFB7;
  }
}
